<!DOCTYPE html>
    <html lang="en">
    {{!--HEADER--}}
    {{> head}}
    <body>
        <div class="container">
            {{{body}}}
        </div>
        {{!--FOOTER--}}
        {{>footer}}
    </body>
</html>