<div id="404" class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Sahifa topilmadi.</p>
                <p class="lead">Siz qidirayotgan sahifa mavjud emas.</p>
                <a href="/#card-footer" class="btn btn-primary">Main page</a>
            </div>
</div>